/*mapas*/

$redes:(
    twitter: #55acee,
    facebook: #00277c,
    instagram: #eb723b,
      ); 

      @each $red, $color in $redes {
          .btn--#{$red}{
            background-color: $color;
            padding:10px 15px 10px 15px;
            margin: 5px 10px 5px 10px;
             display:inline-block; 
            }
         }
    /*
       
       .redSocial{
            border: 10px solid #7e124f;
                                  }
            
                
     .redsocial--full{
         @extend .redSocial;
         border-radius: 5px double rgb(8, 92, 74);
         margin: -222px 144px 37px 176px;
         padding: 13px;
        }
     .redsocial--electronica{
         @extend.redSocial;
         font-family: 'Courier New', Courier, monospace;
         font-size: small;
         border-radius: 5px double rgb(8, 92, 74);
         margin: 18px 144px 37px 176px;
         padding: 13px;
     }
     .redsocial--social{
        background-color: aliceblue;
        padding: 7px;
        margin: 11px 260px 35px 260px;
     }
     /*mixing*/
   /*  
     @mixin sizes ($width, $height){
         height: $height;
         width: $width;
     }
.my_mixin{
    @include sices(500px, 50px);
    background-color: blue;
}*/